[data-theme="dark"] {
	background-color: #323247 !important;
	color: #eee !important;

	.highlighter-rouge{
		color: #ff51a3 !important;
		background-color: transparent !important;
	}


	a:link, a:visited, a:active, a:hover {
		color: white !important;
	}

	#post {
		a:link, a:visited {
			color: #BB78FF !important;
		}
		ul li:before {
			background-color: grey !important;
		}
	}

	#post blockquote {
		color: #fff !important;
	}


	.post:hover{
		.text-warp {
                .title{
                    color: white !important;
                }
                .title::before {
                    background-color: $theme-color;
                }
            }
	}

	.meta {
		color: #999999 !important;
	}

	.tag-sm {
		color: gray !important;
		background-color: #333333;
	}
	.tag-sm:hover {
		background-color: $theme-color;
		color: #fff !important;
	}
	
	#protfolio #career {
		.title {
			color: #BB78FF !important;
		}
		.exper ul.exper-list li.meta {
			.description{
				color: #fff !important;
			}
			.date{
				color: white;
			}
		}

	}

	#project .project-wrap {
		p.title {
			color: #BB78FF !important;
		}
	}

	#project .card-container .card-wrapper .card {
		background-color: $theme-dark2 !important;
		.text-wrap {
			.date{
				color: #BB78FF !important;
			}
			.title {
				color: white !important;
			}
		}

	}

	.modal .modal-content{
		background-color: #323247 !important;
		.header .date {
			color: grey;
		}
	}


	#icons{
	i{
		background-color: $theme-color;
		color : white;
	}
		i:hover {
			background-color: $theme-dark;
			color : #fff;
		}
	}

	#disqus_thread {
		padding: 20px;
		background-color: #d4d4d4 !important;
		border-radius: 40px;
		border: none;
	}

	#comments div.border {
		border: none;
	}

	footer .footer {
		border: none;
	}

	#aside #proj-wrap .proj-content:hover *{
            color: #CC51a3 !important;
    }

    #tags .tag-group .items .item .title {
    	color: white !important;
    }

}