<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<!-- document.getElementById("theme-switch").checked = localStorage.getItem("grape-color")==="dark" -->
  <div class="container">
  	<div>
		<label class="switch" for="theme-switch" style="float: right; margin-top: 10px;">
			<input type="checkbox" id="theme-switch" onclick="changeGrape()">
			<span class="slider round"></span>
		</label>
		<script type="text/javascript" src="{{ '/assets/js/toggle.js' | relative_url }}"></script>
	</div>
    {{ content }}
  </div>
</body>

</html>