---
layout: page
---

<div style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;">
	<iframe src="https://drive.google.com/viewerng/
viewer?embedded=true&url=https://github.com/jennieablog/jennieablog.github.io/raw/master/Jennie%20Ablog's%20Resume%202020.pdf" type="application/pdf" width="100%" height="100%" style="min-height:65vh;width:65%;display:block;">
	    <p>It appears you don't have a PDF plugin for this browser.
	    No biggie... you can click the link below to download the file.</a></p>
	</iframe>
</div><br>

<div style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;">
	<a href="{{ site.url }}/Jennie Ablog's Resume 2020.pdf" download="Jennie Ablog's Resume" class="tag" style="color: white;">
		<i class="fas fa-file-download"></i>&nbsp;&nbsp;&nbsp;DOWNLOAD
	</a>
</div>